.keyboard-div {
    display: inline-flex;

    .white-key {
        width: 80px;
        height: 300px;
        border: 2px solid #888;
        background: white;
        text-align: center;
        position: relative;
        border-radius: 0 0 8px 8px;
    }
    .white-key:hover {
        cursor: pointer;
        background: #f1f1f1;
    }
    .white-key:active {
        background: skyblue;
    }
    .white-key.highlighted {
        background: skyblue;
    }
    .black-key-left {
        height: 160px;
        background: #888;
        width: 25px;
        float: left;
        border: 2px solid #888;
        box-sizing: border-box;
        border-radius: 0 0 5px 0;
    }
    .black-key-right {
        height: 160px;
        background: #888;
        width: 25px;
        float: right;
        border: 2px solid #888;
        box-sizing: border-box;
        border-radius: 0 0 0 5px;
    }
    .letter {
        position: absolute;
        bottom: 10px;
        margin-left: 30px;
        font-size: 18px;
        font-weight: bold;
        color: #888;
    }
}
